{% extends "index.html" %}

{% block title %}
Productos
{% endblock title %}

{% block h1_header %}
Listado de productos
{% endblock h1_header %} 

{% block main %}

<form action={% url "ver_productos" %} method="get">
    {{formulario}}

    <input type="submit" value="Buscar">
</form>

{% if producto %}
    <ul>
        {% for producto  in producto %}
            <li>{{ producto}} | <a href={% url "eliminar_producto" producto.id %}>Eliminar<a> | <a href={% url "editar_producto" producto.id %}>Editar<a> </li> 
        {% endfor %}
    </ul>
{% else %}
    <p>No hay productos listados</p>    
{% endif %}

{% endblock main %}